In [4]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
Requirement already satisfied: python-slugify in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (4.64.0)
Requirement already satisfied: requests in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (2.27.1)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (2021.10.8)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (61.2.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (1.26.9)
Requirement already satisfied: webencodings in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: protobuf in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (3.19.1)
Requirement already satisfied: charset-normalizer in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: text-unidecode in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: bleach in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: idna in c:\users\lenovo ssd\anaconda3\lib\site-packages (from kaggle) (3.3)
Requirement already satisfied: packaging in c:\users\lenovo ssd\anaconda3\lib\site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\lenovo ssd\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.4)
Requirement already satisfied: colorama in c:\users\lenovo ssd\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)
Installing collected packages: kaggle
Successfully installed kaggle-1.7.4.5

In [15]:
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<?, ?B/s]

License(s): CC0-1.0
Downloading orders.csv to C:\Users\lenovo ssd\Desktop\Python+ SQL

In [22]:
#unzip downloaded file
# import zipfile
# zip_ref = zipfile.ZipFile("orders.csv.zip")
# zip_ref.extractall()
# zip_ref.close()

In [25]:
import pandas as pd
df = pd.read_csv("orders.csv", encoding='latin1',error_bad_lines=False, na_values=['Not Available', 'unknown'])

C:\Users\lenovo ssd\AppData\Local\Temp\ipykernel_22776\116722964.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("orders.csv", encoding='latin1',error_bad_lines=False, na_values=['Not Available', 'unknown'])

In [28]:
df.head(4)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2

In [27]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [34]:
#rename column name- make it lower case and reeplace spacee with underscore
# df.rename{'Order Id':'order_id','Order Date':'order_date','Ship Mode':'ship_mode','Segment':'segment','Country':'country','City':'city','State':'state','Postal Code':'postal_code','Region':'region','Category':'category','Sub Category':'sub_category','Product Id':'product_id','cost price':'cost_price','List Price':'list_price'	,'Quantity':'quality','Discount Percent':'discount_price'}
df.columns=df.columns.str.lower()

df.columns=df.columns.str.replace(' ','_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [36]:
#derive new column discount,sale_price and profit
df['discount'] = df['list_price']*df['discount_percent']/100
df['discount']

0        5.2
1       21.9
2        0.5
3       19.2
4        1.0
        ...
9989     1.2
9990     3.6
9991     5.2
9992     0.9
9993     7.2
Name: discount, Length: 9994, dtype: float64

In [39]:
#sale_price = list_price-discount
df['sale_price']=df['list_price']-df['discount']
df['sale_price']

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: sale_price, Length: 9994, dtype: float64

In [40]:
#profit = sale_price-cost_price
df['Profit'] = df['sale_price']-df['cost_price']

In [41]:
df['Profit']

0        14.8
1       108.1
2        -0.5
3       160.8
4        -1.0
        ...
9989     -1.2
9990     16.4
9991     34.8
9992     -0.9
9993     22.8
Name: Profit, Length: 9994, dtype: float64

In [45]:
#convert order date from object data type to datetime - we use pandas datetime
# df.dtypes
df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')

0      2023-03-01
1      2023-08-15
2      2023-01-10
3      2022-06-18
4      2022-07-13
          ...
9989   2023-02-18
9990   2023-03-17
9991   2022-08-07
9992   2022-11-19
9993   2022-07-17
Name: order_date, Length: 9994, dtype: datetime64[ns]

In [46]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [48]:
#drop cost price ,list price , discount percentage
df.drop(columns=['cost_price','list_price','discount_percent'],inplace=True)

In [54]:
#now load data in sql server using some libraries
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-QN4G506\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [61]:
#load data in sql server using append option
# we want data from order id not index so index is false
#id df_orders exists then replace else append(if_exists='replace') ...append will append the data and not change the data type
df.to_sql('df_orders', con=conn, index=False, if_exists='append')

-1

In [56]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'Profit'],
      dtype='object')

In [57]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0